<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/cb45d866e1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/css/burger_style.css" type="text/css" />
    <title>Eat-Da-Burger!</title>

</head>

<body>
    {{{ body }}}
</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="assets/js/burger.js"></script>

</html>